This notebook analyses the following items:
- 시간 n등분 
- xtrain_p0_unit_t4 와 같은 변수 
- 위치 별로 승률 분석

예비:
- 적지, 본부 나눠서 누가 어떤 부분을 더 많이 봤는지
- 전투 중 스킬이 활용

In [0]:
import pandas as pd
import numpy as np
from math import ceil

In [0]:
train = pd.read_csv('drive/My Drive/dacon/train.csv')
test = pd.read_csv('drive/My Drive/dacon/test.csv')

In [40]:
MAX_GAME_ID = train.iloc[len(train)-2].game_id
MAX_GAME_ID

38871

In [47]:
one = train[train['game_id']==1]
# df.loc[df['column_name'] == some_value]
sample = train[0:3000].copy()
sample['stage'] = 0
sample.head()

   game_id  winner  time  ...      event                  event_contents stage
0        0       1  0.00  ...     Camera         at (145.25, 21.5078125)     0
1        0       1  0.00  ...     Camera         at (22.75, 147.0078125)     0
2        0       1  0.02  ...  Selection    ['OrbitalCommand [3080001]']     0
3        0       1  0.02  ...    Ability               (1360) - TrainSCV     0
4        0       1  0.14  ...     Camera  at (142.99609375, 24.50390625)     0

[5 rows x 8 columns]

In [48]:
sample.head()

   game_id  winner  time  ...      event                  event_contents stage
0        0       1  0.00  ...     Camera         at (145.25, 21.5078125)     0
1        0       1  0.00  ...     Camera         at (22.75, 147.0078125)     0
2        0       1  0.02  ...  Selection    ['OrbitalCommand [3080001]']     0
3        0       1  0.02  ...    Ability               (1360) - TrainSCV     0
4        0       1  0.14  ...     Camera  at (142.99609375, 24.50390625)     0

[5 rows x 8 columns]

In [0]:
def map_time(df, seconds=0, interval=0):
  max_game_id = df.iloc[len(df)-1].game_id
  print(max_game_id)
  index = 0 
  df['stage'] = 0 # add new column of 'stage' to df
  if seconds:
    for game_id in range(0, max_game_id+1):
      for row in df[df['game_id'] == game_id].iterrows():
        df.at[index, 'stage'] = df.at[index, 'time'] // seconds
        index += 1
  elif interval:
    for game_id in range(0, max_game_id+1):
      interval_counter = 0 # interval counter to keep track of when to cut off
      curr_interval = 0
      temp_df = df[df['game_id'] == game_id]
      num_items_per_interval = len(temp_df) // interval
      for row in temp_df.iterrows():
        df.at[index, 'stage'] = curr_interval
        if interval_counter == num_items_per_interval:
          curr_interval += 1
          interval_counter = 0
        interval_counter += 1
        index += 1
  return df

In [123]:
answer = map_time(sample, interval=300)

1

In [0]:
answer.to_csv("drive/My Drive/dacon/interval.csv")
# answer